@model Asp.netMVCQLBanVeXeKhach.Models.Vitrighe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có muốn xóa ghế? </h3>
<div>
    <h4>Vitrighe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenvitri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenvitri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiensoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiensoNavigation.Bienso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVitri" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="ViTriGhe">Trở về</a>
    </form>
</div>
