@model Asp.netMVCQLBanVeXeKhach.Models.Vitrighe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vitrighe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenvitri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenvitri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiensoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiensoNavigation.Bienso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVitri">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
