@model IEnumerable<Asp.netMVCQLBanVeXeKhach.Models.Vitrighe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenvitri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiensoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenvitri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiensoNavigation.Bienso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVitri">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVitri">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVitri">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
